.smalltd1{
    font-size: 20px;
    padding: 20px;
}

.smalltd2{
    padding: 20px;
    width: 400px;
}

.inputtext{
    font-size: 20px;
    border: solid 1px #808080;
    border-radius: 5px;
    padding: 10px;
}

.checkmsg{
    color: red;
    font-size: 16px;
    padding: 20px;
}

.signupbtn{
    font-size: 24px;
    color: white;
    background-color: rgb(172, 1, 55);
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    margin-left: 20px;
    width: 200px;
    text-align: center;
}